@import "~bulma/sass/utilities/initial-variables";

$green: #34d399;
$green-invert: #fff;
$primary: $green;
$primary-invert: $green-invert;
$body-color: #333;
$black: #2b2523;

.navbar {
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.navbar .navbar-menu {
  box-shadow: none !important;
}

.navbar-item {
  text-decoration: none;
}

.navbar-item.active {
  box-shadow: inset 0 -4px $primary;
}

.content {
  font-size: 1.25rem;
}

.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 2em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Menu overrides
$menu-item-color: $white-ter;
$menu-item-hover-color: $black !important;
$menu-item-hover-background-color: $black;
$menu-item-active-color: $green-invert;
$menu-item-active-background-color: $green-invert;
$menu-list-border-left: 1px solid $green-invert;
$menu-label-color: $white-ter;

.blog-list-item {
  border: 1px solid #ddd;
}

.blog-list-item header {
  display: flex;
  margin-bottom: 1em;
}

@import "~bulma";

+ mobile {
  .blog-list-item header {
    display: block;
  }
}

.page-title {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
}

.text-decoration-none {
  text-decoration: none !important;
}

.gallery img {
  cursor: pointer;
}
